[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/katvenediktova/CW_3
ExecStart=/home/katvenediktova/CW_3/venv/bin/python run.py

[Install]
WantedBy=multi-user.target