attrs==22.1.0
click==8.1.3
exceptiongroup==1.0.4
Flask==2.2.2
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
pluggy==1.0.0
pyparsing==3.0.9
pytest==7.2.0
tomli==2.0.1
Werkzeug==2.2.2
flake8==4.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
isort==5.9.3
mccabe==0.6.1
prettytable==2.2.1
pycodestyle==2.8.0
pyflakes==2.4.0
SQLAlchemy==1.4.25
wcwidth==0.2.5
psycopg2-binary==2.9.5
